.slide-bar{
    width: 100%;
    height: 100%;
    background-color: green;
}

.slide-bar .menu{
    padding: 100px 0 0 0;
    display: flex;
    justify-content: center;
}

.slide-bar .menu ul li{
   list-style: none;
}
.slide-bar .menu ul li a{
    text-decoration: none;
}